.weight{
    font-weight: 700;
}

.custom-rounded{
    border-radius: 30px;
}
.red-box{
   border: 1px solid ;
   padding: 20px;
}

.red-box-title{
    
}

.red-box-content{
    
}

.red-box-button{
    
}